{% extends "layout.html" %}
{% block content %}
  {% for item in notes %}
    <li>
        <form method="post">
        <a>
          <button type="submit">🗑️</button>
          {{ item }}  
          <input type="hidden" name = "ID" value=""></input>
        </a>
        </form>
    </li> 
  {% endfor %} 
  <form method="post">
    <label for="NewTask">Add New Task</label><br>
    <input type="text" id="NewTask" name="NewTask"><br>
    <button type="submit" class="button" value="Submit">Submit</button>
  </form>
{% endblock %}

<!-- <ul id ="tasklist">{% block tasklist %}Missing Element{% endblock %}</ul>
<div id ="addtask">{% block addtask %}Missing Element{% endblock %}</div> -->