<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <h1>Reminders</h1>
    <ul id="reminderlist">
        {% for item in reminders['documents'] %}
            <li>
                <form method="post">
                <a>{{ item['task'] }}
                    <input type="hidden" name = "ID" value="{{ item['_id'] }}"></input><button type="submit">🗑️</button>
                </a>
                </form>
            </li>
            
        {% endfor %}
    </ul>
    <div id ="content">{% block content %}Missing Element{% endblock %}</div>
</body>
</html>